.heading {
    font-size: 14px;
    font-weight: 500;
    color: #3AB8DA;
}

.skillname {
    color: #A2A2A2;
    font-weight: normal;
}

.skills {
    background-color: #f87f2224 ;
    height: 30px;
    color: #F88022;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;   
}

#cancel {
    width: 170px;
    height: 60px;
    border: 1px solid #001D65;
    border-radius: 10px;
    color: #021668;
    font-size: 18px;
    font-weight: 600;
}

#save {
    width: 170px;
    height: 60px;   
    background-color: #021668;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;  
}

textarea {
    padding-bottom: 30px;
}
