#content {
    border-radius: 20px 0px 0px 20px;
    padding-bottom: 28px;
}

.person {
    height: 32px;
    
}

#title {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #001D65;
}

.edit {
    height: 24px;
    margin: 32px 0px 0px 30px;
}

#cancel {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 10px;
}

#button {
    background-color: #021668;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 10px;
}

#role {
    color: #F88022;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

.status {
    color: #021668;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}

.head {
    color: #A2A2A2;
    font-size: 16px;
    font-weight: normal;
    margin-top: 30px;
}

.active {
    color: #0C0C0C;
    font-weight: 500;
}

.lines {
    /* border: 3px solid #F88022; */
    width: 12px;
}

.heading {
    color: #3AB8DA;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0px 10px 0px;

}



.format {
    position: absolute;
    top: 2px;
    right: 10px;
    color: #F88022;
    font-size: 12px;
}

