.candidateInfo-page{
    background-color: white;
    border: transparent;
    border-radius: 15px 0px 0px 15px;
    padding: 25px !important;
    padding-bottom: 5rem;
}

.candid-text{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #001D65;
}

.contact-details, .job-prefer, .education-details, .notes{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #3AB8DA;
    margin-top: 30px;
}

.contact-border{
    margin-top: 20px;
}

.type-area textarea{
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-family: 'outfit';
    font-weight: 400;
    padding: 10px;
    height: 10em;
    color: #CCCCCC;
}

.resume{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'outfit';
    font-weight: 400;
    color: #CCCCCC;
    border-style: dashed;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border-color: #CCCCCC;
    width: 40%;
}
.resume-upload{
    float: left;
}

#plus-icon{
    margin-left: 20px;
    background-color: white;
    color: #0C0C0C;
    float: right;
    margin-top: 2px;
}

.format-file{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
}
.checking-box{
    margin-top: 3px;
}
#check-box{
    width: 15px;
    height: 15px;
    margin-right: 15px;
}
.format-file label{
    font-size: 18px;
    font-family: 'outfit';
    font-weight: 400;
    color: #0C0C0C;
}

 .form-floating .form-control{
    border: 1px solid #F1F1F1;
} 

.form-floating .form-select{
    border: 1px solid #F1F1F1;
}

.cancel-btn{
    font-size: 16px;
    font-family: 'outfit';
    font-weight: 400;
    border-color: #021668;
    background-color: white;
    color: #021668;
    border-radius: 10px;
    margin-top: 80px;
    padding: 10px;
    width: 40%;
}
.saving-button{
    font-size: 16px;
    font-family: 'outfit';
    font-weight: 400;
    background-color: #021668;
    color: white;
    border-radius: 10px;
    float: right;
    margin-top: 80px;
    padding: 10px;
    width: 40%;
}
