.pwd-change{
    background-color: white;
    border: transparent;
    border-radius: 15px 0px 0px 15px;
    padding: 25px !important;
}

.pwd-text{
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #001D65;
}

.save-button{
    padding: 10px;
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 600;
    background-color: #001D65;
    color: white;
    border-radius: 10px;
    width: 80%;
    border: transparent;
}

.changing-pwd{
   margin-top: 20px;
}

.eyeclick-icon{
    float: right;
    margin-top: -13%;
    padding: 10px;
}

/* .form-control{
    padding: 15px !important;
}

.FloatingLabel .label{
    color: black;
} */
