.jobopening {
    float: right;
    width: 83%;
    background-color: white;
    border: transparent;
    border-radius: 15px 0px 0px 15px;
    margin-top: 25px; 
}

#heading{
    font-size: 14px;
    font-weight: 500;
    color: #3AB8DA;
    padding: 20px 0px 20px 0px;
}

.text {
    color: #A2A2A2;
    font-weight: normal;
}

.skills {
    background-color: #f87f2224 ;
    height: 30px;
    color: #F88022;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    font-weight: normal;
    /* border-radius: 999px; */
    
}

#cancel {
    width: 170px;
    height: 60px;
    border: 1px solid #001D65;
    border-radius: 10px;
    color: #021668;
    font-size: 18px;
    font-weight: 600;
}

.save {
    width: 170px;
    height: 60px;   
    background-color: #021668;
    border: 1px solid #021668;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    
}

.card {
    padding: 0px 41px 17px 25px;
}

textarea {
    padding-bottom: 30px;
}
