.box1{
    width: 83%;
    height: 70px;
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    border: none;
    float: right;
    margin-top: -70px;
    position: sticky;
}

.imglogo{
    width: 135px;
    height: 66px;
    margin-left: 70px;
    margin-top: 25px;
    background-color: #F1F1F1;
    border: transparent;
}
.settings{
    float: right;
    margin-right: 60px;
    margin-top: 23px;
}

.notify{
    float: right;
    margin-right: 60px;
    margin-top: 23px;
}

.img-profile{
    float: right;
    margin-right: 60px;
    margin-top: 17px;
    width: 36px;
}
