.recruiter-page{
    background-color: white;
    border: transparent;
    border-radius: 15px 0px 0px 15px;
    padding: 15px !important;
}

.recruiter-name{
    color: #001D65;
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: bold;
    margin-top: 28px;
    opacity: 1;
}

.tasks{
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    width: 40%;
}

.numof_tasks{
    font-size: 70px;
    font-family: 'Outfit';
    font-weight: 500;
    color: #3AB8DA;
    text-align: center;
}

.open_tasks{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.click-more{
    text-align: end;
    margin-right: 5px;
    margin-top: -20px;
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 400;
    color: #3AB8DA;
    text-decoration: underline;
}

.task{
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px !important; 
}
.Job{
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px !important;  
}
.Candidate{
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 13px;
    margin-top: 10px !important;  
}

.jobid{
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: #000000;
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 500;
}
.assignee-name{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 600;
    color: #0C0C0C;
    margin-top: 7px;
}
#user-icon{
    color: #3AB8DA;
    background-color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.numof_openings{
    margin-left: 44px;
    color: #3AB8DA;
    font-size: 70px;
    font-family: 'Outfit';
    font-weight: 500;
    margin-top: 3px;
}
.open_jobs{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 400;
    margin-left: 32px;
}

.candidates{
    border: 1px solid #F1F1F1;   
    border-radius: 10px;
    width: 40%;
    margin-left: 15px;
}

.numof_candidates{
    margin-left: 44px;
    color: #3AB8DA;
    font-size: 70px;
    font-family: 'Outfit';
    font-weight: 500;
    margin-top: 3px;
}

.open_candidates{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 400;
   margin-left: 9px;
}
.candid-status{
    text-align: right;
    color: #A2A2A2;
    font-size: 10px;
    font-family: 'Outfit';
    font-weight: 400;
}
.tick-img{
    position: relative;
    margin-inline: -16px;
}
.candidateId1, .candidateId2, .candidateId3, .candidateId4, .candidateId5{
    color: #001D65;
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 500;
    margin-top: -12px;
}

#candidate-icon{
    font-size: 51px;
    color: #3AB8DA;
    background-color: white;
}
.candidate-role{
    font-size: 14px;
    font-family: 'Outfit';
    font-weight: 400;
    color: #0C0C0C;
}

.date, .time{
    font-size: 12px;
    font-family: 'Outfit';
    font-weight: 400;
    margin-top: 9px;
    margin-left: -1px;
}


